<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand">{{title}}</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title">Conectados</h3>
          en construccion
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>